<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Football Roster</title>
  </head>
  <body>
    <div class="navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Football Roster</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li class="active">
                <a href="#about">About</a>
              </li>
              <li class="active">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="wrapper">
	    <div>
		    <%= link_to 'Players', players_path %>
	    </div>
      <div>
        <%= link_to 'Rosters', rosters_path %>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
